.idea
*.iml
.terraform
.terraform.lock.hcl
terraform.tfvars
.DS_Store
aws.json
plan*
.terraform.tfstate.lock.info
terraform.tfstate.backup
kubeconfig_learnk8s
terraform.tfstate
demo
*.lock
*.tgz
.infracost